.navbar {box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);}

.hero {
    background:
    /* top, image */
    url(images/screenshot/sketch-screenshot@2x.png) bottom right no-repeat,
    /* bottom, gradient */
    linear-gradient(90deg, #E4EAF0 0%, #F8F9FA 100%);
    background-size: contain;
    margin-bottom: 0;
}

.get-project {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    color: white;
    background: #007BFF;
}

.get-project .text-muted {
    color: white !important;
    opacity: .4;
}

.get-project .btn-light {color: #007BFF;}

.get-project .btn-link small {opacity: .4;}

dl.row {margin-bottom: 0;}

.easy-grids .lead,
.easy-grids dd {color: #868E96;}

.easy-grids dt {color: #17A2B8;}
