.navbar {box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);}
.navbar h5 {line-height: 1;}
.navbar p {font-size: .9rem;}

.hero {background: linear-gradient(135deg, #DAE0E6 0%, #F8F9FA 100%);}

.get-project small {opacity: .4;}

.opacity-15 {opacity: .15;}
.opacity-25 {opacity: .25;}
